<!DOCTYPE html>

<html>

    <head>
        <title>Waaaatup</title>
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    </head>

    <body>
 
		{% if user.is_authenticated %}
			<ul>
				<li>Name : {{user.username}}</li>
				<li>Twitter :{{user_profile.twitter}}</li>
				<li>Website :{{user_profile.website}}</li>
			</ul>	
			<a href="/registration/logout/">Logout</a><br />
		{% else %}
			<a href="/registration/register/">Register Here</a><br />
			<a href="/registration/login/">Login</a><br />
		{% endif %}
		<button id="ajax">ForeCast??</button>
        <div id="me">
        </div>    
        <table id="weatherDataTable">
    <tr>
 
    </tr>
    
</table>
		<script type="text/javascript">

        $('#ajax').click(function(){ 
        
         $.ajax({ 
             type: "GET",
             dataType: "json",
             url: "http://127.0.0.1:5000/weather/api/v1.0/forecast/london",
             success: function(data){   
                console.log(data)     
                $('#me').html("<p>City :"+data.city +"</p>");
                $('#me').append("<p>Maximum :"+data.max +"</p>");
                $('#me').append("<p>Minimum :"+data.min +"</p>");
                $('#me').append("<p>ForeCast Clear on :"+data.forecast.Clear +"</p>");
                $('#me').append("<p>ForeCast Rain on :"+ data.forecast.Rain +"</p>");
                $('#me').append("<p>ForeCast Cloudy on :"+ data.forecast.Cloudy +"</p>");
             }
         });
    });


        function drawTable(data) {
    for (var i = 0; i < data.length; i++) {
        drawRow(data[i]);
    }
}

function drawRow(rowData) {
    var row = $("<tr />")
    $("#weatherDataTable").append(row); //this will append tr element to table... keep its reference for a while since we will add cels into it
    row.append($("<td>" + rowData.city + "</td>"));
    row.append($("<td>" + rowData.min + "</td>"));
    row.append($("<td>" + rowData.max + "</td>"));
}
    </script>
    </body>

</html>