{% extends 'registration/base.html' %}

{% block title %}{% endblock %}

{% block body_block %}
        <h1>Register with Accilon</h1>

        {% if registered %}
         <strong>thank you for registering!</strong>
        <a href="/registration/">Return to the homepage.</a><br />
        {% else %}
        registration says: <strong>register here!</strong><br />

        <form id="user_form" method="post" action="/registration/register/">

            {% csrf_token %}

            {{ form.as_p }}
            {{ profile_form.as_p }}

            <!-- Provide a button to click to submit the form. -->
            <input type="submit" name="submit" value="Register" />
        </form>
        {% endif %}
{% endblock %}
